<a href="https://colab.research.google.com/github/Stanleylarin/Programacion-3/blob/main/Conversores%3A%20(40%25)%20(10%20%C3%ADtems%20como%20m%C3%ADnimo%20por%20cada%20uno).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Monedas

In [11]:
divisas = ["Seleccione una divisa", "Dolares", 
           "Quetzalez", "Lempiras", "Cordobas", 
           "Pesos CR", "Euros", "Colon SV", 
           "Yenes", "Soles Peruanos"
]
valores = [0,1, 7.71, 24.51, 35.77, 664.64, 0.98, 8.75, 134.13, 3.84]

In [12]:
def convertir(de, a, cantidad):
  return valores [a] / valores [de] * cantidad

In [3]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Dolares")
print("2. Quetzalez")
print("3. Lempiras")
print("4. Cordobas")
print("5. Pesos CR")
print("6. Euros")
print("7. Colon SV")
print("8. Yenes")
print("9. Soles Peruanos")

*** MENU ***
SELECCIONE UNA DIVISA
1. Dolares
2. Quetzalez
3. Lempiras
4. Cordobas
5. Pesos CR
6. Euros
7. Colon SV
8. Yenes
9. Soles Peruanos

In [13]:
de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( divisas[de],  " a ", divisas[a], " es: ", convertir(de, a, cantidad) )

DE: 9
A: 1
Cantidad: 20
Soles Peruanos  a  Dolares  es:  5.208333333333334

Longitud

In [58]:
divisas = ["Seleccione una divisa", "metro", 
           "kilometro", "centimetros", "milimetro", 
           "yarda", "pie", "pulgadas", 
           "milla", "Milla nautica", 'nanometro',
]
valores = [0,1, 0.001, 100, 1000, 1.09361, 3.28084, 39.3701, 0.000621371,0.000539957,1e+9 ]

In [59]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [57]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. metro")
print("2. Kilometro")
print("3. centimetros")
print("4. Milimetro")
print("5. Yarda")
print("6. Pie")
print("7. pulgada")
print("8. Milla")
print("9. Milla nautica")
print("10. Nanometro")

*** MENU ***
SELECCIONE UNA DIVISA
1. metro
2. Kilometro
3. centimetros
4. Milimetro
5. Yarda
6. Pie
7. pulgada
8. Milla
9. Milla nautica
10. Nanometro

In [62]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 10
A: 5
Cantidad: 5
nanometro  a  yarda  es:  5.468049999999999e-09

MASA

In [29]:
divisas = ["Seleccione una divisa", "Tonelada", 
           "Kilogramo", "Gramo", "Miligramo", 
           "Microgramo", "Tonelada larga", "Tonela corta", 
           "Stone", "Libra", 'Onza',

]
valores = [0,1, 1000, 1e+6, 1e+9, 1e+12, 0.984207, 1.10231, 157.473, 2204.62, 35274 ]

In [25]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [26]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Tonelada")
print("2. Kilogramo")
print("3. Gramo")
print("4. Miligramo")
print("5. Micrograma")
print("6. Tonelada larga")
print("7. Tonelada corta")
print("8. Stone")
print("9. Libra")
print("10. Onza")

*** MENU ***
SELECCIONE UNA DIVISA
1. Tonelada
2. Kilogramo
3. Gramo
4. Miligramo
5. Micrograma
6. Tonelada larga
7. Tonelada corta
8. Stone
9. Libra
10. Onza

In [31]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))
print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 10
A: 5
Cantidad: 10000
Onza  a  Microgramo  es:  283494925440834.6

ALMACENAMIENTO

In [15]:
divisas = ["Seleccione una divisa", " Terabit", 
           "Mebibit", "Gibibit", "Gigabit", 
           "tebibit", "Petabyte", "Mebibyte", 
           "Megabyte", "Gigabyte", 'Terabyte',
]
valores = [0,1, 953700, 931.3, 1000, 1.1, 8000, 119200, 125000,125,0.125 ]

In [6]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [8]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Terabit")
print("2. Mebibit")
print("3. Gibibit")
print("4. Gigabit")
print("5. Tebibit")
print("6. Petabyte")
print("7. Mebibyte")
print("8. Megabyte")
print("9. Gygabyte")
print("10.Terabyte")

*** MENU ***
SELECCIONE UNA DIVISA
1. Terabit
2. Mebibit
3. Gibibit
4. Gigabit
5. Tebibit
6. Petabyte
7. Mebibyte
8. Megabyte
9. Gygabyte
10.Terabyte

In [22]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 10
A: 4
Cantidad: 20
Terabyte  a  Gigabit  es:  160000.0

TIEMPO

In [41]:
divisas = ["Seleccione una divisa", " Segundo", 
           "Milisegundo", "Minuto", "Hora", 
           "Dia", "Semana", "Mes", 
           "Año", "Decada", 'Siglo',
]
valores = [0,1, 1000, 0.0166667, 0.000277778,1.1574e-5, 1.6534e-6, 3.8052e-7, 3.171e-8,3.171e-9,3.171e-10 ]

In [42]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [43]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Segundo")
print("2. Milesegundo")
print("3. Minuto")
print("4. Hora")
print("5. Dia")
print("6. Semana")
print("7. Mes")
print("8. Año")
print("9. Decada")
print("10.Siglo")

*** MENU ***
SELECCIONE UNA DIVISA
1. Segundo
2. Milesegundo
3. Minuto
4. Hora
5. Dia
6. Semana
7. Mes
8. Año
9. Decada
10.Siglo

In [47]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 4
A: 3
Cantidad: 730
Hora  a  Minuto  es:  43800.05255995795

VOLUMEN

In [51]:
divisas = ["Seleccione una divisa", "Litro", 
           "Mililitro", "Galón", "Cuarto", 
           "Pinta", "Taza", "Onza líquida", 
           "Cucharada", "Cucharadita", 'Pie cúbico',
]
valores = [0,1, 1000, 0.219969, 0.879877, 1.75975, 3.51951, 35.1951, 56.3121, 168.936, 0.0353147 ]

In [52]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [53]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Litro")
print("2. Mililitro")
print("3. Galón")
print("4. Cuarto")
print("5. Pinta")
print("6. Taza")
print("7. Onza liquida")
print("8. Cucharada")
print("9. Cucharadita")
print("10. Pie cúbico")

*** MENU ***
SELECCIONE UNA DIVISA
1. Litro
2. Mililitro
3. Galón
4. Cuarto
5. Pinta
6. Taza
7. Onza liquida
8. Cucharada
9. Cucharadita
10. Pie cúbico

In [55]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))
print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 1
A: 2
Cantidad: 10
Litro  a  Mililitro  es:  10000.0

AREA

In [63]:
divisas = ["Seleccione una divisa", "Hectarea", 
           "Kilometro cuadrado", "Metro Cuadrado", "Milla cuadrada", 
           "Yarda cuadrada", "Pie cuadrado", "Pulgada cuadrada", 
           "Acre",
]
valores = [0,1, 0.01, 10000, 0.00386102, 11959.9, 107639, 1.55e+7, 2.47105 ]

In [56]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [64]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Hectarea")
print("2. Kilometro cuadrado")
print("3. Metro cuadrado")
print("4. Milla cuadrada")
print("5. Yarda cuadrada")
print("6. Pie cuadrado")
print("7. Pulgada cuadrada")
print("8. Acre")

*** MENU ***
SELECCIONE UNA DIVISA
1. Hectarea
2. Kilometro cuadrado
3. Metro cuadrado
4. Milla cuadrada
5. Yarda cuadrada
6. Pie cuadrado
7. Pulgada cuadrada
8. Acre

In [66]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))
print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 8
A: 5
Cantidad: 1
Acre  a  Yarda cuadrada  es:  4840.007284352805