<a href="https://colab.research.google.com/github/Stanleylarin/Programacion-3/blob/main/Ejercicios%20Pr%C3%A1cticos%20en%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EJERCICIO 1

Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP( 6.25%), ISR(Según tabla) e imprima el total deducciones 
y sueldo neto. (20%)

In [1]:
def impuestos(salario):
  return (salario) * 0.03 + (salario) * 0.0625

In [2]:
def calculosalario(salario):
  return (salario) - impuestos(salario)

In [3]:
def impuestos1 (salario):
  return (calculosalario (salario) - 472.00) * 0.10 + 17.67

In [4]:
def impuestos2 (salario):
  return (calculosalario (salario) - 895.24) * 0.20 + 60

In [5]:
def impuestos3 (salario):
  return (calculosalario (salario) - 2038.10) * 0.30 + 288.57

In [15]:
salario = float(input("Ingrese la cantidad de su salario: "))
print("Su salario es de: ", calculosalario(salario))
if salario <= 472 :
  print("Lamentablemente usted no aplica a ISR ")
  if salario >= 472.01  and salario <= 895.24: 
   print("Su retencion de impuesto sobre la renta en su salario: ",calculosalario(salario),"es de :",impuestos1(salario))
   if salario >= 895.25 and salario <= 2038.10:
    print("Su retención de impuesto sobre la renta en su salario de: ", calculosalario(salario), "es de: ", impuestos2(salario))
  if salario >= 2038.10:
   print("Su retención de impuesto sobre la renta en su salario de: ", calculosalario(salario), "es de: ", impuestos3(salario))
   if salario >= 2038.10:
    print("Su retención de impuesto sobre la renta en su salario de: ", calculosalario(salario), "es de: ", impuestos3(salario))

Ingrese la cantidad de su salario: 2039
Su salario es de:  1850.3925

Ejercicio 2

Calcular el valor a pagar según el número de metros consumidos de agua potable (Ver tabla en la siguiente diapositiva). (20%)

In [ ]:
precio = 6

In [ ]:
metros = int(input("Digite la cantidad de metros consmidos: "))
if(metros<18):
  print("Total por pagar: ", precio)
elif(metros<28):
    print("Total por pagar: ", 3.15 + precio)
elif(metros<40):
  print("Total por pagar: ", 11 + precio)
else:
  print("Máximo de metros a consumir es 120")

Digite la cantidad de metros consmidos: 23
Total por pagar:  9.15

Ejercicio 3

Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la formula matemática para evitar ciclos. (10%)

In [16]:
print("Ingrese cantidad que desea imprimir para obtener lo acumulado")
a = int(input())
b = 0

for i in range (1, a + 1):
  print(i)
  b = b + 1
  print (" La lista de valores acumulados que  solicita es :",b)

Ingrese cantidad que desea imprimir para obtener lo acumulado
5
1
 La lista de valores acumulados que  solicita es : 1
2
 La lista de valores acumulados que  solicita es : 2
3
 La lista de valores acumulados que  solicita es : 3
4
 La lista de valores acumulados que  solicita es : 4
5
 La lista de valores acumulados que  solicita es : 5

Ejercicio 4

Monedas

 Conversores: (40%) (10 ítems como mínimo por cada uno)
• Monedas (Resuelto en clases)
• Longitud
• Masa
• Almacenamiento
• Tiempo 
• Volumen
• Área

In [ ]:
divisas = ["Seleccione una divisa", "Dolares", 
           "Quetzalez", "Lempiras", "Cordobas", 
           "Pesos CR", "Euros", "Colon SV", 
           "Yenes", "Soles Peruanos"
]
valores = [0,1, 7.71, 24.51, 35.77, 664.64, 0.98, 8.75, 134.13, 3.84]

In [ ]:
def convertir(de, a, cantidad):
  return valores [a] / valores [de] * cantidad

In [ ]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Dolares")
print("2. Quetzalez")
print("3. Lempiras")
print("4. Cordobas")
print("5. Pesos CR")
print("6. Euros")
print("7. Colon SV")
print("8. Yenes")
print("9. Soles Peruanos")

*** MENU ***
SELECCIONE UNA DIVISA
1. Dolares
2. Quetzalez
3. Lempiras
4. Cordobas
5. Pesos CR
6. Euros
7. Colon SV
8. Yenes
9. Soles Peruanos

In [ ]:
de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( divisas[de],  " a ", divisas[a], " es: ", convertir(de, a, cantidad) )

DE: 1
A: 2
Cantidad: 12
Dolares  a  Quetzalez  es:  92.52

Longitud

In [ ]:
divisas = ["Seleccione una divisa", "metro", 
           "kilometro", "centimetros", "milimetro", 
           "yarda", "pie", "pulgadas", 
           "milla", "Milla nautica", 'nanometro',
]
valores = [0,1, 0.001, 100, 1000, 1.09361, 3.28084, 39.3701, 0.000621371,0.000539957,1e+9 ]

In [ ]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [ ]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. metro")
print("2. Kilometro")
print("3. centimetros")
print("4. Milimetro")
print("5. Yarda")
print("6. Pie")
print("7. pulgada")
print("8. Milla")
print("9. Milla nautica")
print("10. Nanometro")

*** MENU ***
SELECCIONE UNA DIVISA
1. metro
2. Kilometro
3. centimetros
4. Milimetro
5. Yarda
6. Pie
7. pulgada
8. Milla
9. Milla nautica
10. Nanometro

In [ ]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 1
A: 2
Cantidad: 12
metro  a  kilometro  es:  0.012

Masa

In [ ]:
divisas = ["Seleccione una divisa", "Tonelada", 
           "Kilogramo", "Gramo", "Miligramo", 
           "Microgramo", "Tonelada larga", "Tonela corta", 
           "Stone", "Libra", 'Onza',

]
valores = [0,1, 1000, 1e+6, 1e+9, 1e+12, 0.984207, 1.10231, 157.473, 2204.62, 35274 ]

In [ ]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [ ]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Tonelada")
print("2. Kilogramo")
print("3. Gramo")
print("4. Miligramo")
print("5. Micrograma")
print("6. Tonelada larga")
print("7. Tonelada corta")
print("8. Stone")
print("9. Libra")
print("10. Onza")

*** MENU ***
SELECCIONE UNA DIVISA
1. Tonelada
2. Kilogramo
3. Gramo
4. Miligramo
5. Micrograma
6. Tonelada larga
7. Tonelada corta
8. Stone
9. Libra
10. Onza

In [ ]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))
print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 3
A: 2
Cantidad: 12
Gramo  a  Kilogramo  es:  0.012

Almacenamiento

In [ ]:
divisas = ["Seleccione una divisa", " Terabit", 
           "Mebibit", "Gibibit", "Gigabit", 
           "tebibit", "Petabyte", "Mebibyte", 
           "Megabyte", "Gigabyte", 'Terabyte',
]
valores = [0,1, 953700, 931.3, 1000, 1.1, 8000, 119200, 125000,125,0.125 ]

In [ ]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [ ]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Terabit")
print("2. Mebibit")
print("3. Gibibit")
print("4. Gigabit")
print("5. Tebibit")
print("6. Petabyte")
print("7. Mebibyte")
print("8. Megabyte")
print("9. Gygabyte")
print("10.Terabyte")

*** MENU ***
SELECCIONE UNA DIVISA
1. Terabit
2. Mebibit
3. Gibibit
4. Gigabit
5. Tebibit
6. Petabyte
7. Mebibyte
8. Megabyte
9. Gygabyte
10.Terabyte

In [ ]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 5
A: 6
Cantidad: 246
tebibit  a  Petabyte  es:  1789090.909090909

Tiempo

In [ ]:
divisas = ["Seleccione una divisa", " Segundo", 
           "Milisegundo", "Minuto", "Hora", 
           "Dia", "Semana", "Mes", 
           "Año", "Decada", 'Siglo',
]
valores = [0,1, 1000, 0.0166667, 0.000277778,1.1574e-5, 1.6534e-6, 3.8052e-7, 3.171e-8,3.171e-9,3.171e-10 ]

In [ ]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [ ]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Segundo")
print("2. Milesegundo")
print("3. Minuto")
print("4. Hora")
print("5. Dia")
print("6. Semana")
print("7. Mes")
print("8. Año")
print("9. Decada")
print("10.Siglo")

*** MENU ***
SELECCIONE UNA DIVISA
1. Segundo
2. Milesegundo
3. Minuto
4. Hora
5. Dia
6. Semana
7. Mes
8. Año
9. Decada
10.Siglo

In [ ]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 5
A: 3
Cantidad: 135
Dia  a  Minuto  es:  194401.63297045103

Volumen

In [ ]:
divisas = ["Seleccione una divisa", "Litro", 
           "Mililitro", "Galón", "Cuarto", 
           "Pinta", "Taza", "Onza líquida", 
           "Cucharada", "Cucharadita", 'Pie cúbico',
]
valores = [0,1, 1000, 0.219969, 0.879877, 1.75975, 3.51951, 35.1951, 56.3121, 168.936, 0.0353147 ]

In [ ]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [ ]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Litro")
print("2. Mililitro")
print("3. Galón")
print("4. Cuarto")
print("5. Pinta")
print("6. Taza")
print("7. Onza liquida")
print("8. Cucharada")
print("9. Cucharadita")
print("10. Pie cúbico")

*** MENU ***
SELECCIONE UNA DIVISA
1. Litro
2. Mililitro
3. Galón
4. Cuarto
5. Pinta
6. Taza
7. Onza liquida
8. Cucharada
9. Cucharadita
10. Pie cúbico

In [ ]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))
print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 6
A: 3
Cantidad: 356
Taza  a  Galón  es:  22.24996206858341

Área

In [18]:
divisas = ["Seleccione una divisa", "Hectarea", 
           "Kilometro cuadrado", "Metro Cuadrado", "Milla cuadrada", 
           "Yarda cuadrada", "Pie cuadrado", "Pulgada cuadrada", 
           "Acre",
]
valores = [0,1, 0.01, 10000, 0.00386102, 11959.9, 107639, 1.55e+7, 2.47105 ]

In [19]:
def convertir(de, a, cantidad):
  return valores [de] / valores [a] * cantidad

In [20]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Hectarea")
print("2. Kilometro cuadrado")
print("3. Metro cuadrado")
print("4. Milla cuadrada")
print("5. Yarda cuadrada")
print("6. Pie cuadrado")
print("7. Pulgada cuadrada")
print("8. Acre")

*** MENU ***
SELECCIONE UNA DIVISA
1. Hectarea
2. Kilometro cuadrado
3. Metro cuadrado
4. Milla cuadrada
5. Yarda cuadrada
6. Pie cuadrado
7. Pulgada cuadrada
8. Acre

In [21]:
a = int(input("DE: "))
de = int(input("A: "))
cantidad = float(input("Cantidad: "))
print( divisas[a],  " a ", divisas[de], " es: ", convertir(de, a, cantidad) )

DE: 1
A: 4
Cantidad: 15
Hectarea  a  Milla cuadrada  es:  0.0579153

Ejercicio 5

Realizar un conversor propio, donde especifique el valor de conversión: (10%) • 1 caja -> 25 unidad. Viceversa 80 unidades – 3/5 -> cajas/unidades • 1 saco -> 50 libras. Viceversa 130 libras – 2/30 -> sacos/libras • 1 fardo -> 5 unidades. Viceversa 28 unidades – 5/3 -> fardos/unidades

In [22]:
divisas = [  0, ["Seleccione una opción a convertir", "1. Caja", "2. Unidades"], ["Seleccione una opción a convertir", "1. Saco", "2. Libras"], ["Seleccione una opción a convertir", "1. Fardo", "2. Unidades"]]

valor = [0, [0, 1, 25], [0, 1, 50], [0, 1, 5], ]

In [23]:
def convertir(Selección, de, a, cantidad):
  return valor[Selección][a] / valor[Selección][de] * cantidad

In [24]:
print("Menú")
print("1. Cajas/Unidades")
print("2. Sacos/Libras")
print("3. Fardo/Unidades")

Menú
1. Cajas/Unidades
2. Sacos/Libras
3. Fardo/Unidades

In [27]:
Selección = int(input("Seleccionado: "))

print(divisas[Selección] )
de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print(divisas[Selección][de], " en ", divisas[Selección][a], " es igual a: ", convertir(Selección, de, a, cantidad) )

Seleccionado: 1
['Seleccione una opción a convertir', '1. Caja', '2. Unidades']
DE: 1
A: 2
Cantidad: 12
1. Caja  en  2. Unidades  es igual a:  300.0