<a href="https://colab.research.google.com/github/Stanleylarin/Programacion-3/blob/main/Introduccion%20a%20python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
print("Hola Mundo", "Bienvenidos a Programacion Computacional ")

Hola Mundo Bienvenidos a Programacion Computacional

In [51]:
print("Stanley Larin")

Stanley Larin

In [48]:
nombre = "Stanley Larin"
print("Hola", nombre, nombre[8], type(nombre))

nombre = 19
print("Tu edad es: ", type(nombre))

Hola Stanley Larin L <class 'str'>
Tu edad es:  <class 'int'>

In [49]:
programacion = True
diseno = False
print("Te gusta Progra", programacion, "Te gusta diseño", diseno, type(programacion))

Te gusta Progra True Te gusta diseño False <class 'bool'>

In [52]:
edad = int(input("Dime tu edad: "))
if edad>=18: #comparacion da como resultado un valor booleano
  print("Eres un adulto, tienes responsabilidades...")
else:
  print("Eres libre")

Dime tu edad: 19
Eres un adulto, tienes responsabilidades...

In [54]:
def sumaDosNumeros(num1, num2):
  resp = num1 + num2
  return resp
print( "La suma: ", sumaDosNumeros(2,5) )

La suma:  7

In [55]:
#funciones anonimas... 
sumaNumeros = lambda num1, num2: num1 + num2
print( "La suma: ", sumaNumeros(4,6))

La suma:  10

In [56]:
numeros = [5,4,7,8,-4,-9] #array unidimensional

In [57]:
def cuadrado(num):
  return num**2

In [58]:
def cubo(num):
  return num**3

In [59]:
def pares(num): #num = 2/2 = 1 == 0
  return num%2==0

In [60]:
def impares(num):
  return num%2!=0

In [61]:
numCuadrado = list(map(cuadrado, numeros))
numXDos = list( map(lambda num: num*2, numeros) )
print("Elevar al cuadradola lista: ",numCuadrado, numXDos )

Elevar al cuadradola lista:  [25, 16, 49, 64, 16, 81] [10, 8, 14, 16, -8, -18]

In [62]:
numCubo = list( map(cubo, numeros) )
print(numCubo)

[125, 64, 343, 512, -64, -729]

In [69]:

pares = list( filter(pares, numeros))
print(pares)

TypeError: ignored

In [70]:
impares = list( filter(impares,numeros) )
print(impares)

[5, 7, -9]

In [75]:
#conversor de celsius a f
def cf(c):
  return c*9/5+32

In [73]:
c = float(input("Grados C: "))
print( "G. C a F", cf(c))

Grados C: 0
G. C a F 32.0

In [74]:
celsius = lambda c: c*9/5 + 32
c = int(input("Grados Celsius A convertir: "))

print( celsius(c) )

Grados Celsius A convertir: 41
105.8

In [76]:
gradosc = [27,30,35,40,45]
grados = lambda c: c*1.8 + 32
f = list( map(grados, gradosc) )
print(f)

[80.6, 86.0, 95.0, 104.0, 113.0]

In [77]:
numeros = [5,7,9,6,8,7,3] #, se declara y usa con corchetes

In [78]:
print(" Lista original ", " Buscando: ", numeros[numeros.index(3)], numeros[0] )

 Lista original   Buscando:  3 5

In [79]:
numeros[0] = 4
print("Nuevo valor: ", numeros[0])

Nuevo valor:  4

In [80]:
edades = (2,5,12,18,65,100) #Una tupla es inmutable, se declara con parentesis
print( "Las edades: ", edades, edades[0] )

Las edades:  (2, 5, 12, 18, 65, 100) 2

In [81]:
#edades[0] = 0 #NO puedo cambiar su valor, y se usa con corchetes
print( "Nuevo Valor", edades[0] )

Nuevo Valor 2

In [82]:
print("Edades: ", edades, "Filtrar solo mayores de edad: ", tuple(filter( lambda num: num>=18, edades )) )

Edades:  (2, 5, 12, 18, 65, 100) Filtrar solo mayores de edad:  (18, 65, 100)

In [84]:
buscando = int(input("Valor: "))
print( "Edades: ", edades, "Buscando el numero: ", buscando, "esta en la posicion: ", edades.index(buscando) )

Valor: 1

ValueError: ignored

In [85]:
notas = [5, 4, 10, 7.8, 9]
print("Mis Notas: ", notas, "Notas sobresalientes: ", list(filter(lambda n:n>=9, notas)) )

Mis Notas:  [5, 4, 10, 7.8, 9] Notas sobresalientes:  [10, 9]

In [86]:
notasCiclo = [
    [5,6,6],
    [8,7,10],
    [10,10,10]
]
print( "Mis Notas", notasCiclo, "C1: ", notasCiclo[0], "C2: ", notasCiclo[1], "C3: ", notasCiclo[2], "PC1: ", notasCiclo[0][2] )

Mis Notas [[5, 6, 6], [8, 7, 10], [10, 10, 10]] C1:  [5, 6, 6] C2:  [8, 7, 10] C3:  [10, 10, 10] PC1:  6

In [87]:
materias = [
    [ #Progra
      [5,6,[10,8]],#c1
      [5,7,8],#c2
      [6,7,6] #c3
    ],
    [ #Diseño
      [10,9,10], #c1
      [10,10,8], #c2
      [10,10,10] #c3
    ],
    [ #Redes
      [8,7,8], #c1
      [7,9.23,9], #c2
      [8,7,9]  #c3
    ]
]
print("Progra: C1 - P", (materias[0][0][2][0] + materias[0][0][2][1])/2, "; Redes C2, Lab2: ", materias[2][1][1] )

Progra: C1 - P 9.0 ; Redes C2, Lab2:  9.23

In [88]:
misMaterias = {} #los diccionarios (json) se definen con llaves y se usan con corchetes
misNotas = {
    "Progra I":{
        "CI": {
            "Lab1": 5,
            "Lab2": 6,
            "Parcial": [10,8]
        },
        "CII":{
            "Lab1": 5,
            "Lab2": 7,
            "Parcial": 8
        },
        "CIII":{
            "Lab1":6,
            "Lab2":7,
            "Parcial":6
        }
    },
    "Diseño":{
        "CI": {
            "Lab1": 10,
            "Lab2": 9,
            "Parcial": 10
        },
        "CII":{
            "Lab1": 10,
            "Lab2": 10,
            "Parcial": 8
        },
        "CIII":{
            "Lab1":10,
            "Lab2":10,
            "Parcial":10
        }
    }
}
print( misNotas["Progra I"]["CI"]["Parcial"], misNotas["Diseño"]["CII"]["Lab2"] )

[10, 8] 10

In [ ]:
divisas = ["Seleccione una divisa", "Dolares", 
           "Quetzalez", "Lempiras", "Cordobas", 
           "Pesos CR", "Euros", "Colon SV", 
           "Yenes", "Soles Peruanos"
]
valores = [0,1, 7.71, 24.51, 35.77, 664.64, 0.98, 8.75, 134.13, 3.84]

In [ ]:
def convertir(de, a, cantidad):
  return valores[a] / valores[de] * cantidad

In [ ]:
print("*** MENU ***")
print("SELECCIONE UNA DIVISA")
print("1. Dolares")
print("2. Quetzalez")
print("3. Lempiras")
print("4. Cordobas")
print("5. Pesos CR")
print("6. Euros")
print("7. Colon SV")
print("8. Yenes")
print("9. Soles Peruanos")

*** MENU ***
SELECCIONE UNA DIVISA
1. Dolares
2. Quetzalez
3. Lempiras
4. Cordobas
5. Pesos CR
6. Euros
7. Colon SV
8. Yenes
9. Soles Peruanos

In [ ]:
de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( divisas[de],  " a ", divisas[a], " es: ", convertir(de, a, cantidad) )

DE: 6
A: 2
Cantidad: 10
Euros  a  Quetzalez  es:  78.6734693877551